.mat-tab-group {
    margin-bottom: 48px;
}

::ng-deep .mat-tab-label:last-child {
    opacity: 6;
    min-width: 20px;
    padding: 0;
    margin-right: 0px;
}

::ng-deep .mat-tab-group:first-child .mat-tab-label:last-child {
    margin-left: 100%;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: red;
    background-color: green;
}

::ng-deep .mat-tab-list .mat-tab-labels {
    color: blue;
    background-color: yellow;
}